@tailwind base;
@tailwind components;
@tailwind utilities;


*,
body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}